@charset "utf-8";
:root {
    --base-text-color: #333;
    --base-bg-color: #white;
    --base-font-size: 16px;
}
body {
    background-color: antiquewhite;
    font: 16px/1.5 "Noto Sans KR";
    color: var(--base-text-color);
}
a {
    text-decoration: none;
    color: inherit;
}
@media screen and (max-width:480px) {
    html {height: 100%;}
    body {
        background: linear-gradient(to bottom, #fff, #00a1d24b);
    }
    .d-none {display: none;}
    .logo {
        width: 312px;
        height: 217px;
        margin: 3rem auto;
    }
    .btns {
        display: flex;
        flex-direction: column;  /*상하배치 */
        width: 60vw;
        margin: 0 auto;
    }
    button {
        height: 100px;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        border: 0;
        border-radius: 1rem;
        margin: 0 0 2rem 0;
        padding-left: 4rem;
    }
    #make_num5 {
        background: #8ec220 url(image/x5.png) no-repeat 15% center;
    }
    #make_num1 {
        background: #00A0D2 url(image/x1.png) no-repeat 15% center;
    }
    .links {
        text-align: center;
        font-size: 20px;
        color: #666;
        margin: 25px 0;
    }
    .links li {
        margin: 8px 0;
    }
    /* ==================register================================================================ */
    .header-top {
        background-color: #00A0D2;
        height: 70px;
        color: white;
        width: 100%;
    }
    .top-links {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        padding: .5rem 2rem;
    }
    .section-title {
        text-align: center;
    }
}
/* ============================고객센터====================================================== */
.icon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0 1.5rem;
}
.icon-list li {
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,.2);
    min-height: 120px;
    border-radius: 10px;
}
.icon-list li:hover {
    background-color: #00A0D2;
    color: white;
}
.icon-list li a {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}